.player-wrapper {
    position: relative;
    padding-bottom: 15vh;
  }
  
  .react-player {
    position: relative;
    top: 10%;
    left: 25%;
  }

  .main-title{
      text-align: center;
  }
  
